* @DannyOr94 @crissXcoder
/.github/ @crissXcoder @DannyOr94
/app/(dashboard)/hato/ @DannyOr94 @crissXcoder
/app/(dashboard)/potreros/ @DannyOr94 @crissXcoder
/app/(dashboard)/reproductivo/ @crissXcoder @DannyOr94
/app/(dashboard)/dashboard/ @DannyOr94 @crissXcoder
/components/ @crissXcoder @DannyOr94
/lib/ @crissXcoder @DannyOr94
/tests/ @crissXcoder @DannyOr94
/e2e/ @crissXcoder @DannyOr94
/.githooks/ @crissXcoder @DannyOr94
/tooling/ @crissXcoder @DannyOr94
